* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
}

aside {
  background-color: grey;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

aside div:first-child {
  background-color: lightgray;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: bold;
}

.circle {
  background-color: lightgray;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

section {
  width: 80%;
  height: 100%;
}

section input {
  margin: 3rem;
  height: 30px;
  width: 150px;
  border: none;
  background-color: lightgray;
  padding-left: 1rem;
  font-weight: bold;
  border-radius: 5px;
  font-weight: bold;
}

section div {
  height: 5px;
  width: 100%;
  background-color: grey;
}

nav {
  background-color: grey;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 20%;
}

nav div {
  background-color: lightgray;
  height: 40px;
  width: 150px;
  margin-top: 1rem;
}

.nascosto {
  display: none;
}

.circle2 {
  background-color: grey;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  position: fixed;
  bottom: 1rem;
  display: none;
}

@media screen and (max-width: 600px) {
  aside,
  nav,
  section div {
    display: none;
  }

  header {
    width: 100%;
    height: 10%;
    background-color: grey;
    padding: 1rem;
  }

  section {
    width: 100%;
  }

  .circle2 {
    display: flex;
    right: 1rem;
  }

  .nascosto {
    background-color: lightgray;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
}
